/*..臉...*/
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/*臉結束*/


.a{
	opacity:0.8;
	width: 1200px;
	height:1800px;
	background-color: white;
	position: absolute;
	top: 130px;
	left:160px;
	margin-bottom: 130px;
	z-index: -1;
}
.me{
	width: 300px;
	height: 430px;
	z-index: 2;
	position: absolute;
	top: 100px;
	left: 200px;
}
	

/*---立志---*/


.b{
	position: absolute;
	left: 500px;
	top:360px;
	width: 900px;
	height: 50px;
}

  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
blockquote {
  font-size: 1.5rem;
}
cite {
  display: block;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 1rem;
  font-size: 1rem;
  color: gray;
  font-style: normal;
}
blockquote q {
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: .1rem;
}
blockquote q span { 
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
    margin-right: .8rem;
}
q:after {
  content: close-quote;
}
q:before, q:after {
  color: gray;
  font-size: 2rem;
}
/*---立志----*/

.line{
  position: absolute;
  top: 500px;
  left: 190px;
  width: 1150px;
  height: 30px;

}
.line1{
  position: absolute;
  top: 1200px;
  left: 0px;
  width: 1535px;
  height: 30px;
  -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);

}
.dot{
  position: absolute;
  top: 170px;
  left: 175px;
  width: 200px;
  height: 170px;
  -moz-transform:rotate(-230deg);
  -webkit-transform:rotate(-230deg);
  -o-transform:rotate(-230deg);
  -ms-transform:rotate(-230deg);
  transform:rotate(-230deg);

}
.dot2{
  position: absolute;
  top: 300px;
  left: 285px;
  width: 200px;
  height: 200px;
  -moz-transform:rotate(-230deg);
  -webkit-transform:rotate(-230deg);
  -o-transform:rotate(-230deg);
  -ms-transform:rotate(-230deg);
  transform:rotate(-230deg);

}
.name{
  width: 150px;
  height:30px;
  position: absolute;
  top:232px;
  left:665px;
}
.intro{
  font-size: 20px;
  color:#014254;
  font-family: Microsoft JhengHei;
  position: absolute;
  top: 270px;
  left: 540px;
}
.vivi{
  font-family: Microsoft JhengHei;
  color: rgb(9, 87, 19);
  font-size: 37px;
  
  text-shadow: rgb(255, 255, 255) 2px 1px 0px;

  position: absolute;
   top: 180px;
  left: 540px;

}
.fbigb{
  position: absolute;
  top: 180px;
  left: 940px;
}
.all{
  width: 70px;
  height: 70px;
  padding:10px;
}

.time{

  position: absolute;
  top:800px;
  left:800px;
  width: 800px;
  height: 20px;
  -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);

}



.pro{

font-family: 'Alatsi', sans-serif;
font-size: 20px;
color: white;
position: absolute;
left:215px; 
top:530px;
z-index: 3;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.pro1{  
  font: bold 140% Consolas, Monaco, monospace;
  border-right: .1em solid black;
  width: 16.5em; 
  width: 17ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
  blink-caret .5s step-end infinite alternate;
}


.block{
  width: 235px;
  height:50px;
  background-color:#3d496f;
  position: absolute;
  top:563px;
  left:225px;
}
/**/

/* CSS Skill*/





#SkillBox {
    font-size: 10px;
    font-family: 'Alatsi', sans-serif;
    width: 30%;
    height: auto;
    margin: 30px auto;
    position: absolute;
    top: 590px;
    left: 215px;
    
    //border: 1px solid #cdcdcd;
    padding: 0px;
    opacity: 0.6;
    -o-border-radius:0px;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -moz-border-radius:0px;  
    padding: 10px;
}

.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-HTML {
    width: 70%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}#Skill-CSS {
    animation: Animate-CSS 4s;
    -webkit-animation: Animate-CSS 4s;
    -moz-animation: Animate-CSS 4s;
    -o-animation: Animate-CSS 4s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}#Skill-XML {
    animation: Animate-XML 4s;
    -webkit-animation: Animate-XML 4s;
    -moz-animation: Animate-XML 4s;
    -o-animation: Animate-XML 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #5aa669;
}
@keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-C {
    animation: Animate-C 4s;
    -webkit-animation: Animate-C 4s;
    -moz-animation: Animate-C 4s;
    -o-animation: Animate-C 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #970cc1;
}
@keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}#Skill-JAVA {
    animation: Animate-JAVA 4s;
    -webkit-animation: Animate-JAVA 4s;
    -moz-animation: Animate-JAVA 4s;
    -o-animation: Animate-JAVA 4s;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #8e930c;
}
@keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}#Skill-PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}#Skill-VBNET {
    animation: Animate-VBNET 4s;
    -webkit-animation: Animate-VBNET 4s;
    -moz-animation: Animate-VBNET 4s;
    -o-animation: Animate-VBNET 4s;
    width: 35%;
    height: 50px;
    position: absolute;
    background-color: #f8a51e;
}
@keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-webkit-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-moz-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-o-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}.Skill-Area {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 15px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 15px;
}

/**/


.pr1{

font-family: 'Alatsi', sans-serif;
font-size: 20px;
color: white;
position: absolute;
left:215px; 
top:990px;
z-index: 3;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.pro2{  
  font: bold 140% Consolas, Monaco, monospace;
  border-right: .1em solid black;
  width: 16.5em; 
  width: 17ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
  blink-caret .5s step-end infinite alternate;
}


.block2{
  width: 235px;
  height:50px;
  background-color:#3d496f;
  position: absolute;
  top:1023px;
  left:225px;
}

/**/

#SkillBox1 {
    font-size: 10px;
    font-family: 'Alatsi', sans-serif;
    width: 30%;
    height: auto;
    margin: 30px auto;
    position: absolute;
    top: 1050px;
    left: 215px;
    
    //border: 1px solid #cdcdcd;
    padding: 0px;
    opacity: 0.6;
    -o-border-radius:0px;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -moz-border-radius:0px;  
    padding: 10px;
}

.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-PS {
    width: 70%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}
#Skill-PI {
    animation: Animate-PI 4s;
    -webkit-animation: Animate-PI 4s;
    -moz-animation: Animate-PI 4s;
    -o-animation: Animate-PI 4s;
    width: 75%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-PI {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-webkit-keyframes Animate-PI {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-moz-keyframes Animate-PI {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-o-keyframes Animate-PI {
    from {
    width: 10px;
}
to {
    width: 75%}
}

#Skill-PA {
    animation: Animate-PA 5s;
    -webkit-animation: Animate-PA 5s;
    -moz-animation: Animate-PA 5s;
    -o-animation: Animate-PA 5s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-PA {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-PA {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-PA {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-PA {
    from {
    width: 10px;
}
to {
    width: 80%}
}#Skill-MB {
    animation: Animate-MB 4s;
    -webkit-animation: Animate-MB 4s;
    -moz-animation: Animate-MB 4s;
    -o-animation: Animate-MB 4s;
    width: 75%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-MB {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-webkit-keyframes Animate-MB {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-moz-keyframes Animate-MB {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-o-keyframes Animate-MB {
    from {
    width: 10px;
}
to {
    width: 75%}
}#Skill-XML {
    animation: Animate-XML 4s;
    -webkit-animation: Animate-XML 4s;
    -moz-animation: Animate-XML 4s;
    -o-animation: Animate-XML 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #5aa669;
}
@keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-C {
    animation: Animate-C 4s;
    -webkit-animation: Animate-C 4s;
    -moz-animation: Animate-C 4s;
    -o-animation: Animate-C 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #970cc1;
}
@keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}#Skill-JAVA {
    animation: Animate-JAVA 4s;
    -webkit-animation: Animate-JAVA 4s;
    -moz-animation: Animate-JAVA 4s;
    -o-animation: Animate-JAVA 4s;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #8e930c;
}
@keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}#Skill-PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}#Skill-VBNET {
    animation: Animate-VBNET 4s;
    -webkit-animation: Animate-VBNET 4s;
    -moz-animation: Animate-VBNET 4s;
    -o-animation: Animate-VBNET 4s;
    width: 35%;
    height: 50px;
    position: absolute;
    background-color: #f8a51e;
}
@keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-webkit-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-moz-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-o-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}.Skill-Area {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 15px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 15px;
}

/**/
/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/**/


.pr3{

font-family: 'Alatsi', sans-serif;
font-size: 20px;
color: white;
position: absolute;
left:215px; 
top:1390px;
z-index: 3;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.pro4{  
  font: bold 140% Consolas, Monaco, monospace;
  border-right: .1em solid black;
  width: 16.5em; 
  width: 14ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
  blink-caret .5s step-end infinite alternate;
}


.block3{
  width: 200px;
  height:50px;
  background-color:#3d496f;
  position: absolute;
  top:1423px;
  left:225px;
}
.oo{
  width: 300px;
  height: 200px:;
  position: absolute;
  top:1640px;
  left: 455px;
  opacity: 0.8;
}
/**/
.card {

    transform: translate(-50%,-50%);
    width: 300px;
    height: 220px;
    background: #262626;
    overflow: hidden;
    font-family: Microsoft JhengHei;
}
.card .imgBx,
.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}
.card .imgBx {
    top: 0;
    left: 0;
}
.card:hover .imgBx {
    top: 0;
    left: -100%;
}
.card .imgBx img {
    width: 100%;
}
.card .details {
    background: #262626;
    top: 0;
    left: 100%;
    padding: 15px 30px;
}
.card:hover .details {
    top: 0;
    left: 0%;
}
.card .details h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;

}
.card .details p {
    margin: 10px 0 0;
    color: #fff;
}
.arrow{
  position: absolute;
  top: 1540px;
  left: 245px;
  width: 30px;
  height: 30px;
}

/**/
.pr5{

font-family: 'Alatsi', sans-serif;
font-size: 20px;
color: white;
position: absolute;
left:810px; 
top:527px;
z-index: 3;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.pro6{  
  font: bold 140% Consolas, Monaco, monospace;
  border-right: .1em solid black;
  width: 16.5em; 
  width: 10ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
  blink-caret .5s step-end infinite alternate;
}


.block4{
  width: 150px;
  height:50px;
  background-color:#3d496f;
  position: absolute;
  top:560px;
  left:818px;
}



/**/

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
  width:630px;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 850px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}



.d{

  width: 450px;

  height:500px;
  position: absolute;
  top: 650px;
  left: 838px;

}


/**/
.pic{
 ;
  width: 240px;
  height: 180px;

}
.pic1{
  width: 130px;
  height: 200px;
}
.pp{
  text-align: center;
  font-size: 15px;
  font-family: Microsoft JhengHei;
}




/**/

.wrap-collabsible1 {
  margin-bottom: 1.2rem 0;
  width:500px;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle1 {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle1:hover {
  color: #7C5A0B;
}

.lbl-toggle1::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle1:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content1 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle1:checked + .lbl-toggle1 + .collapsible-content1 {
  max-height: 850px;
}

.toggle1:checked + .lbl-toggle1 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content1 .content-inner1 {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}
.d1{

  width: 450px;
  height:500px;
  position: absolute;
  top: 1250px;
  left: 838px;

}